<section class="hero is-medium">
            <div class="hero-body  has-background-white-bis">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title is-1">
                            Yayber
                        </h1>
                        <p class="subtitle is-3">
                            Cổng kết nối học sinh, sinh viên với các cơ hội việc làm.
                        </p>
                        <a class="button is-large is-fullwidth" href="users/sign_up">Đăng ký dành cho nhà tuyển dụng</a>
                    </div>
                </div>
            </div>
</section>

<section class"container">
        <div class="hero-body has-background-white-bis">
            <div class="columns features">
                <div class="column is-4">
                    <div class="card is-shady">

                        <div class="card-content">
                            <div class="content">
                                <h4>Giao diện trực quan, thân thiện.</h4>
                                <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">

                        <div class="card-content">
                            <div class="content">
                                <h4>Trình soạn thảo trực tuyến hiện đại.</h4>
                                <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">

                        <div class="card-content">
                            <div class="content">
                                <h4>Nhiều dịch vụ bổ trợ.</h4>
                                <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="intro column is-8 is-offset-2 has-text-centered">
                <h3 class="title is-3">Hoàn hảo dành cho học sinh, sinh viên đang tìm kiếm việc làm.</h3>
                <p class="subtitle is-5">Blah blah blah blah blah blah blah blah blah blah blah. Blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
            </div>
            </div>
</section>