<section class="section has-background-white-bis">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <p class="title is-3 has-text-grey">Đăng công việc mới</p>
        <%= render 'form', job: @job %>
      </div>
    </div>
  </div>
</section>