<p>
    ĐIỀU KHOẢN SỬ DỤNG 
    1. Giới Thiệu
    Yaybey.co.nf là trang web tìm việc (bao gồm thêm giờ và toàn thới gian) DÀNH RIÊNG cho đối tượng sử dụng ở độ tuổi học sinh-sinh viên, người tìm việc có thể tìm công việc hay tạo hồ sơ ở đây. Nhà tuyển dụng có thể đăng thông báo tuyển dụng hay tìm kiếm hồ sơ trên  Website. Chúng tôi trang bị các công cụ hỗ trợ cần thiết nhằm giúp nhà tuyển dụng tìm được những ứng viên phù hợp nhất cũng như giúp các ứng viên có thể tìm kiếm được công việc phù hợp nhất với khả năng của mình.
    2. Cách sử dụng dịch vụ
    Bạn có thể sử dụng yayber.co.nf nếu bạn đồng ý với Bản thỏa thuận sử dụng và Bản quy định bảo mật. Bạn sử dụng dịch vụ với tư cách là nhà tuyển dụng (hoặc người tìm việc), vui òng đăng kí theo qui trình chúng tôi thiết lập sẵn. Xin hãy kiểm tra cẩn thận trước khi sử dụng dịch vụ của website bởi vì dịch vụ của chúng tôi bao gồm dịch vụ có phí và dịch vụ không phí. Ngoài ra, bạn phải chịu toàn bộ chi phí cũng như trách nhiệm khi truy cập và sử dụng trang Website yayber.co.nf
    3. Tài Khoản
    Để sử dụng dịch vụ của yayber bạn phải tạo một tài khoản theoyeeu cầu của chúng tôi, bạn cam kết rằng việc sử dụng tài khoản phải tuân thủ theo các quy định của chúng tôi, đồng thời tất cả các thông tin bạn cung cấp cho chúng tôi là đúng, chính xác, đầy đủ tại thời điểm được yêu cầu. Mọi quyền lợi và nghĩ vụ của bạn sẽ căn cứ trên thông tin trên thông tin tài khoản bạn đẫ đăng kí, do đó nếu có bất kì thông tin sai lệch nào chúng tôi sẽ không chịu trách nhiệm trong trường hợp, thông tin đó làm ảnh hưởng hoặc làm hạn chế quyền lợi của bạn và người dùng khác. 
    4. Hành vi cấm
     - Hành động mạo nhận người khác.
     - Hành động vi phạm pháp luật, góp phần hay khuyến khích các hành vi phạm pháp.
     - Hành động hạn chế hoặc ngăn cản, gây trở ngại những hoạt động truy cập của người sử dụng khác.
     - Hành động xâm phạm hệ thống quản trị mạng hay hệ thống mạng của yayber.co.nf
     - Hành động xâm phạm danh dự, uy tín, bí mật đời tư, quyền công bố thông tin cá nhân, bản quyền, .. và các quyền hợp pháp khác.
     - Hành động vu khống, đe dọa, quấy rối, gây thiệt hại về tinh thần, vật chất cho người khác.
     - Hành vi thu thập,tập hợp, tích góp những thông tin cá nhân của người sử dụng khác.
     - Hành động phi đạo đức, chống lại trật tự xã hội.
     - Các hình thức vi phạm khác theo quy định của pháp luật.
    5. Xử lí vi phạm
    Trường hợp vi phạm bất kì qui định nào trong điều khoản,Yayber có quyền ngay lập tức khóa tài khoản của bạn/hoặc xóa bỏ toàn bộ các thông tin, nội dung vi phạm, đồng thời phụ thuộc vào tính chất, mức độ vi phạm, bạn sẽ phải chịu trách nhiệm trước cơ quan có thẩm quyền, Yayber và bên thứ ba về mọi thiệt hại gây ra bởi hoặc xuất phát từ hành vi vi phạm của bạn.
    6. Thông tin của người sử dụng
    Tất cả các quyền đối với  thông tin có trong hồ sơ tuyển dụng, thông tin đăng tuyển, các dữ liệu, tập tin, nội dung thông tin mà người sử dụng cung cấp lên Website CareerLink.vn  là thuộc về người sử dụng. Yayber được quyền sử dụng những thông tin này cho việc quản trị trang web ngay khi người sử dụng cung cấp lên và có thể chuyển cho bên thứ 3 sử dụng trong cùng một mục đích 

    Bạn phải chịu trách nhiệm về tính chính xác, tính hợp pháp của những thông tin mà bạn cung cấp cho chúng tôi. Yayber không chịu trách nhiệm về những thông tin do người sử dụng cung cấp. Ngoài ra, Yayber sẽ không có trách nhiệm phải xem xét để xóa những thông tin không đúng mức, hay bất hợp pháp.

Người sử dụng không được đóng góp những nội dung thuộc Hành vi cấm đã được quy định trong Bản thỏa thuận sử dụng,và các điều khoản bảo mật của Yayber. Ngoài ra, người sử dụng không được thay đổi cấu trúc, sắp xếp phân loại các các dữ liệu được đóng góp từ người khác.

    Yayber có toàn quyền xóa, thay đổi, những thông tin chung. Chúng tôi có thể ngăn chặn sự sử dụng dịch vụ, hay xóa đăng ký sử dụng mà không phải chịu bất cứ trách nhiệm pháp lý gì. Chúng tôi có thể xóa ngay lập tức những thông tin đóng góp mà chúng tôi cho rằng bất lợi cho website Yayber.co.nf. Thêm vào đó, chúng tôi có thể chia sẻ, tiết lộ các thông tin đăng ký, quá trình sử dụng, nội dung email của người sử dụng cho bên thứ ba trong các trường hợp sau:

- Khi Yayber bị yêu cầu bởi toà án, cánh sát, các cá nhân hoặc cơ quan nhà nước có thẩm quyền khác hoặc để thực hiện các yêu cầu pháp lý
- Khi Yayber phải bảo vệ hệ thống hoặc khi có sự cố xảy ra.
- Khi Yayber thấy điều đó là cần thiết để  bảo vệ quyền và lợi ích hợp pháp của mình, các công ty đối tác, những người sử dụng khác, hay của bên thứ ba trên cơ sở phù hợp pháp luật.
- và các trường hợp hợp pháp khác
    7. Cam kết bào mật thông tin người dùng
    Chúng tôi cam kết giữ bí mật tất cả thông tin mà bạn cung cấp cho Yayber hoặc chúng tôi thu thập từ bạn và không tiết lộ với bất kì bên thứ ba nào trừ khi có yêu cầu từ Cơ quan Nhà nước có thẩm quyền. 
    8. Phí và các khoản thu
    Yayber cam kết không thu bất cứ khoản phí nào từ người dùng cho các dịch vụ cơ bản mà hiện tại chúng tôi đang cung cấp
    9. Sự thay đổi trong bản điều khoản sử dụng
    Chúng tôi có quyền thay đổi nội dung trong bản điều khoản này. Xin hãy xác nhận thường xuyên vì chúng tôi có thể thay đổi nội dung điều khoản sử dụng. Việc bạn tiếp tục sử dụng Website của chúng tôi đồng nghĩa với việc bạn chấp nhận những điều kiện thay đổi trong điều khoản sử dụng.
    10. Liên lạc với chúng tôi 
    Địa chỉ email: yayber@gmail.com hoặc số điện thoại 069696969
Trân trọng cảm ơn bạn đã sử dụng dịch vụ của chúng tôi.
</p>