// *= require trix

@import "bulma";
@import "functions";
@import "jobs";
@import "stripe";

.has-background-cloud {
  background-color: hsl(0, 0%, 95%);
}
.notification {
  border-radius: 0;
}
.notification:not(:last-child) {
  margin-bottom: 0;
}
.hint {
  font-size: small;
}
.tag {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9px !important;
}
.trix-editor {
  display: block;
}
.trix-content{
    height: 500px;
    overflow-y: auto;
}
.card+.card {
	margin-top: 20px
}
.input {
  border-radius: 0;
}
.box {
  border-radius: 0;
}
.navbar-dropdown {
  border-radius: 0;
}
.list {
  border-radius: 0;
}
.trix-content {
  border-radius: 0;
}
.dyn-height {
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
}
textarea {
  resize: none;
}