<footer class="footer has-background-white-bis">
            <div class="container">
                <div class="columns">
                    <div class="column is-3 is-offset-2">
                        <h2><strong>Giới thiệu</strong></h2>
                        <ul>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Việc làm</a></li>
                        </ul>
                    </div>
                    <div class="column is-3">
                         <h2><strong>Dịch vụ</strong></h2>
                        <ul>
                            <li><a href="/jobpy-search/">Jobpy Search</a></li>
                            <li><a href="/jobpy-cv-maker/">Jobpy CV Maker</a></li>
                        </ul>
                    </div>
                    <div class="column is-4">
                        <h2><strong>Mạng xã hội</strong></h2>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">YouTube</a></li>
                        </ul>
                    </div>
                </div>
                <div class="content has-text-centered">
                  <p>
                    © 2019 Yayber All Rights Reserved
                    </p>
                </div>
            </div>
</footer>